.style_title_h1__yQTKj {
  font-size: 2rem;
}
.style_title_h1__yQTKj,
.style_title_h2__PSWVY {
  color: #f2e6c4;
  font-family: Philosopher, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  text-align: center;
}
.style_title_h2__PSWVY {
  font-size: 1.625rem;
}
.style_title_h3__acllG {
  color: #f2e6c4;
  font-family: Philosopher, sans-serif;
  font-weight: 700;
  letter-spacing: -0.5px;
}
.style_title_h3__acllG,
.style_title_h4__9ztLU {
  font-size: 1.25rem;
  font-style: normal;
  line-height: 1.45;
  text-align: center;
}
.style_title_h4__9ztLU {
  color: #2d2d2d;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
}
